
       
<main class="main-wrap">

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category List</h2>

                </div>
                <div>
                    <a href="/admin/add_category" class="btn btn-primary btn-sm rounded">Add Category</a>
                </div>
            </div>
            <div class="card mb-4">
    <div class="card-body ">
        <div class="table-responsive ">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                {{#each allCtegoryData}}
                <tbody>
                    <tr>
                        <td width="40%" class="text-center">
                            <a href="#" class="itemside">
                                <div class="left">
                                    <img src="/images/products/{{this.imageUrl}}" class="img-sm img-thumbnail"
                                        alt="Item">
                                </div>
                                <div class="info pl-3">
                                    <h6 class="mb-0 title">{{this.category}}</h6>
                                </div>
                            </a>
                        </td>
                        <td class="text-center" width="20%">
                            {{#if this.isListed}}
                            <span class="badge rounded-pill alert-success">Listed</span>
                            {{else}}
                            <span class="badge rounded-pill alert-danger">Unlisted</span>
                            {{/if}}
                        </td>
                        <td class="text-center" width="40%">
                            <a style="width: 72px;" href="/admin/edit_category/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            {{#if this.isListed}}
                            <a style="width: 72px;" data-product-id="{{this._id}}" id="blockprod" class="btn btn-sm font-sm btn-light">
                                Unlist
                            </a>
                            {{else}}
                            <a style="width: 72px;" data-product-id="{{this._id}}" id="blockprod" class="btn btn-sm font-sm btn-light">
                                List
                            </a>
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table> <!-- table-responsive.// -->
        </div>
    </div> <!-- card-body end// -->
</div>
 <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                         {{#each pages}}
                             <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
////////////delete product
        $(document).ready(function () {
        $(document).on('click','#deleteprod',function(e){
            e.preventDefault();
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/delete_product',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            
                            // If you want to remove the row from the table upon successful removal
                            $this.closest('tr').remove(); // Use $this instead of $(this)
                            // swal("Removed from wishlist", "The product has been removed from your wishlist.", "success");
                            {
                                Swal.fire({
                                    title: 'Removed!',
                                    text: 'Product Succesfully Removed from Cart!!!',
                                    icon: 'success',
                                    confirmButtonText: 'Cool'
                                })
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });


    /////block product

            $(document).ready(function () {
        $(document).on('click','#blockprod',function(e){
            e.preventDefault();
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
               // text: "Do you want to block the Product?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/delete_category',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            
                 
                           
                            {
                                Swal.fire({
                                    title: 'Done!',
                                    //text: 'Product Succesfully Blocked!!!',
                                    icon: 'success',
                                    confirmButtonText: 'Cool'
                                }).then(()=> window.location.reload())
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Done!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });


</script>
