    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <img src="/assetsAdmin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                   
                </li>
                {{!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li> --}}
                {{!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li> --}}
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    
                </li>
                {{!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> --}}
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link btn btn-primary" href="/admin/logout"> <i class="icon material-icons md-exit_to_app"></i>
                        Logout
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
       {{!-- <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header> --}}

    <main class="main-nowrap">

        <section class="content-main">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
            {{!-- <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item">
                        <a href="/admin/home" class="nav-link align-middle px-0 ">Home </a>
                    </li>

                    <li>
                        <a href="/admin/manage_users" class="nav-link px-0 align-middle"> Users </a>
                    </li>

                    <li>
                        <a href="/admin/category" class="nav-link px-0 align-middle btn btn-outline-primary">Category
                        </a>
                    </li>
                    <li>
                        <a href="/admin/orders" class="nav-link px-0 align-middle"
                            style="background-color: #fff; padding: 2px;">Orders</a>
                    </li>
                    <li>
                        <a href="/admin/product" class="nav-link px-0 align-middle"> Products </a>
                    </li>
                    <li>
                        <a href="/admin/coupons"  class="nav-link px-0 align-middle" > Coupons </a>
                    </li>
                </ul>
                <hr>
            </div> --}}
        </div>
        <div class="col py-3 d-flex justify-content-center mt-2">

            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4 ">
                    <div class="card-header text-center">Order details</div>
                    <div class="card-body">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Name</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-center">Image</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each orderedProDet}}
                                <tr>
                                    <td scope="row" class="text-center">{{this.name}}</td>
                                    <td class="text-center">${{this.price}}</td>
                                    <td class="text-center">{{this.quantity}}</td>
                                    <td class="text-center"><img style="width: 50px; height: auto;" src="/images/products/{{this.image}}"
                                            alt="product image">
                                    </td>
                                    {{!-- <td>
                                        {{!-- <a href="my_orders/details?id={{this._id}}" type="button"
                                            class="btn btn-warning">View
                                            details</a> --}}
                                        {{!-- <a href="/order_details/{{this.id}}" type="button"
                                            class="btn btn-danger">cancel</a>
                                    </td> --}}
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>


                        <div class="d-flex justify-content-between border mt-5 p-5" style="color: #000;">
                            <div class="mt-3 ">
                                <p class="mb-2">Total amount : $<strong>{{myOrderDetails.total}}</strong></p>
                                
                                <p class="mb-2">Payment method: {{myOrderDetails.paymentMethod}}</p>
                                <p class="mb-2">Order status : {{myOrderDetails.status}}</p>
                                {{#if myOrderDetails.discountAmt}}
                                <p class="mb-2">Amount after discount :
                                    $<strong>{{myOrderDetails.amountAfterDscnt}}</strong></p>
                                <p class="mb-2">Discount amount : $<strong>{{myOrderDetails.discountAmt}}</strong></p>
                                <p class="mb-2" style="color: green;">Coupon used: {{myOrderDetails.coupon}}</p>
                                {{else}}
                                <p class="mb-2" style="color: green;">No coupon applied</p>
                                {{/if}}

                            </div>



                            <div class="">
                                <h5 class="border-bottom mb-3">Delivery address</h5>
                                <p>{{address.name}}</p>
                                <p>Mobile: {{address.mobile}}</p>
                                <p>{{address.adressLine1}}</p>
                                <p>{{address.adressLine2}}</p>
                                <p>{{address.city}}, {{address.state}},</p>
                                <p>Pin: {{address.pin}}</p>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex">
                        {{!-- <form action="/change_status" method="post">
                            <div class="d-flex">
                                <div style="width: 100%;" class="p-l-15 ">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Change order status</option>
                                        <option value="1">Shipped</option>
                                        <option value="2">Delivered</option>
                                    </select>
                                </div>
                                <div>
                                    <button type="submit" class="m-l-5 btn btn-primary">submit</button>
                                </div>
                            </div>
                        </form> --}}
                        <div class="m-auto mb-20 p-r-15 p-b-15">
                            <a href="/admin/orders" class=" btn btn-primary">Back to orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>