

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/home" class="brand-wrap">
            <img src="/assetsAdmin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            {{!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Sellers</span>
                </a>
                <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div>
            </li> --}}
            {{!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="page-form-product-1.html">Add product 1</a>
                    <a href="page-form-product-2.html">Add product 2</a>
                    <a href="page-form-product-3.html">Add product 3</a>
                    <a href="page-form-product-4.html">Add product 4</a>
                </div>
            </li> --}}
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>

            </li>
            

             <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"><i class="icon fa-solid fa-ticket"></i>
                        <span class="text">Coupons</span>
                    </a>
      </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>
                         <li class="menu-item">
                    <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Banner </span>
                    </a>
                </li>
                     <li class="menu-item">
                <a class="menu-link" href="/admin/reviews"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>
            {{!-- <li class="menu-item">
                <a class="menu-link" href="/admin/reviews"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li> --}}
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link btn btn-primary" href="/admin/logout"> <i
                        class="icon material-icons md-exit_to_app"></i>
                    Logout
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
    {{!-- main starting --}}
<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Products list</h2>
            <div>
                <a href="/admin/new_product" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body ">
                <div class="table-responsive ">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Stock</th>
                                <th class="text-center">Action </th>
                            </tr>
                        </thead>
                        {{#each productData}}
                        <tbody>
                            <tr >
                                <td width="20%" class="text-center">
                                    <a href="#" class="itemside">
                                        <div class="left">
                                            <img src="/images/products/{{this.imageUrl.[0]}}" class="img-sm img-thumbnail"
                                                alt="Item">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{this.name}}</h6>
                                            <small class="text-muted">{{this.category.category}}</small>
                                        </div>
                                    </a>
                                </td>
                                <td class="text-center" width="17%">{{this.description}}</td>
                                {{#if this.is_blocked}}
                                <td class="text-center" width="15%"><span class="badge rounded-pill alert-danger " >Blocked</span></td>

                                {{else}}
                                <td class="text-center" width="15%"><span class="badge rounded-pill alert-success">Active</span></td>
                                {{/if}}

                                <td class="text-center" width="8%">{{this.stock}}</td>
                                <td class="text-center" width="40%">
                                    {{#if this.is_blocked}}
                                    <a style="width: 72px;" id="unblockprod" data-product-id="{{this._id}}" class="btn btn-sm font-sm btn-light flex-end"
                                        
                                        >
                                        Unblock
                                    </a>
                                    {{else}}
                                    <a style="width: 72px;" id="blockprod" data-product-id="{{this._id}}" class="btn btn-sm font-sm btn-light" 
                                        >
                                        Block
                                    </a>
                                    {{/if}}
                                    <a style="width: 72px;" href="/admin/edit_product/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <a style="width: 80px;" href="/admin/delete_product/{{this._id}}" class="btn btn-sm font-sm btn-light rounded" >
                                        <i class="material-icons md-delete_forever" ></i> Delete
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                        {{/each}}
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    {{#each pages}}
                             <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script data-cfasync="false"
                    src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
////////////delete product
        $(document).ready(function () {
        $(document).on('click','#deleteprod',function(e){
            e.preventDefault();
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/delete_product',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            console.log("Product removed from Cart successfully");
                            // If you want to remove the row from the table upon successful removal
                            $this.closest('tr').remove(); // Use $this instead of $(this)
                            // swal("Removed from wishlist", "The product has been removed from your wishlist.", "success");
                            {
                                Swal.fire({
                                    title: 'Removed!',
                                    text: 'Product Succesfully Removed from Cart!!!',
                                    icon: 'success',
                                    confirmButtonText: 'Cool'
                                })
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });


    /////block product

            $(document).ready(function () {
        $(document).on('click','#blockprod',function(e){
            e.preventDefault();
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Do you want to block the Product?",
               // text: "Do you want to block the Product?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/block_product',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            console.log("ProductBlocked");
                 
                           
                            {
                                Swal.fire({
                                    title: 'Product Blocked',
                                    //text: 'Product Succesfully Blocked!!!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(()=> window.location.reload())
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Done!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });

    $(document).ready(function () {
        $(document).on('click','#unblockprod',function(e){
            e.preventDefault();
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Do you want to Unblock the Product?",
               // text: "Do you want to block the Product?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/block_product',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            console.log("ProductBlocked");
                 
                           
                            {
                                Swal.fire({
                                    title: 'Product Succesfully Unblocked!!!',
                                    //text: 'Product Succesfully Blocked!!!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(()=> window.location.reload())
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Done!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });





</script>