<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartProd}}
                                <tr>
                                    <td class="image product-thumbnail"><img src="/images/products/{{productImage.[0]}}"
                                            alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name">
                                                <a href="/productview?id={{this.productId}}">{{productName}}</a>
                                        </h5>
                                        {{!-- <p class="font-xs">{{productDescription}}
                                        </p> --}}
                                        {{#if outOfStock}}
                                        <p class="font-xs text-danger">Out of Stock</p>
                                        {{/if}}
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{productPrice}} </span></td>

                                    <td class="column-4">
                                        <div class="wrap-num-product flex-w m-l-auto m-r-0" id="quantityContainer">
                                            
                                            <div id="incButton" data-offer="{{this.offerprice}}"
                                                class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>

                                            <input disabled class=" mtext-104 cl3 txt-center num-product" type="number"
                                                name="num-product{{this._id}}" id="{{this._id}}"
                                                value="{{this.quantity}}">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span id="totalPerItem-{{this._id}}">₹{{multiply this.quantity
                                            this.productPrice}}</span>
                                    </td>
                                    <td class="action" data-product-id="{{_id}}" data-title="Remove"><a href="#"
                                            class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                {{/each}}
                             

                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        {{!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> --}}
                        <a class="btn " href="/product"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        
                        <div class="col-lg-12 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span id="Subtotal"
                                                        class="font-lg fw-900 text-brand">₹{{subTotal}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"><span 
                                                        class="font-lg fw-900 text-brand">₹ 50</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span id="total"
                                                            class="font-xl fw-900 text-brand">₹{{add Total 0}}</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- <a href="/cart/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                    CheckOut</a> --}}
                                    <a href="javascript:void(0)" class="btn" id="proceedToCheckoutBtn">
                                    <i class="fi-rs-box-alt mr-10"></i> Proceed To Checkout
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>


    $(document).ready(function () {
        $('.action').click(function () {
            var id = $(this).data('product-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/removeFromCart',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            console.log("Product removed from Cart successfully");
                            // If you want to remove the row from the table upon successful removal
                            $this.closest('tr').remove(); // Use $this instead of $(this)                        
                            {
                                Swal.fire({
                                    title: 'Removed!',
                                    text: 'Product Succesfully Removed from Cart!!!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(()=> window.location.reload())
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                }
            });
        });
    });

    // Increment and Decrement quantity
  
        $('.fa-plus, .fa-minus').click(function () {
        const cartId = $(this).closest('tr').find('.num-product').prop('id');
        const newValue = $(this).hasClass('fa-plus') ? parseInt($(`#${cartId}`).val()) + 1 : parseInt($(`#${cartId}`).val()) - 1;
        if (newValue > 0) {
            $(`#${cartId}`).val(newValue);
            updateCartItemQuantity(cartId, newValue);
        }
    });

    // Update cart item quantity
    function updateCartItemQuantity(cartId, newValue) {
        $.ajax({
            url: '/updatecart',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ cartIdForUpdate: cartId, newValue: newValue }),
            success: function (data) {
                console.log("received from javascript BROOOOOOOOO", data)
                if (data.success) {


                    console.log('Response from server:', data);
                    // Update the total amount for the specific cart item
                    $(`#totalPerItem-${cartId}`).text(data.items[0].totalAmount);
                    // Update the subtotal and total in the UI
                  //  $('#Subtotal').text(data.cartValue[0].total);
                   // $('#total').text(data.cartValue[0].total);
                    updateCartTotal();


                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message,
                    }).then(() => window.location.reload())


                }

            },
            error: function (error) {
                console.log(error)
            },

        });
    }

    function updateCartTotal() {
            let subtotal = 0;
            $('.shopping-summery tbody tr').each(function () {
                const itemTotal = parseFloat($(this).find('td[data-title="Cart"] span').text().replace('₹', ''));
                subtotal += isNaN(itemTotal) ? 0 : itemTotal;
            });
            $('#Subtotal').text(`₹${subtotal}`);
            const shipping = 50; 
        const total = subtotal + shipping; 
        $('#total').text(`₹${total}`);
        }

        // Initial cart total calculation
        updateCartTotal();
    

$('#proceedToCheckoutBtn').on('click', function() {
    $.ajax({
        url: '/checkOutOfStock',
        method: 'POST',
        contentType: 'application/json',
        success: function(data) {
            console.log("Response from server:", data);
            
            if (!data.success) {
                // If out of stock, show the message in SweetAlert
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message,
                });
            } else {
                // If all products are in stock, redirect to checkout page
                window.location.href = "/cart/checkout";
            }
        },
        error: function(error) {
            console.log("Error:", error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong, please try again.',
            });
        }
    });
});


</script>