<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsAdmin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsAdmin/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
      <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Profile
                    <span></span> Orders
                </div>
            </div>
        </div>
                <section class="content-main col-md-11">
            <div class="content-header">
                <h2 class="content-title">Profile setting </h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link " aria-current="page" href="/profile">General</a>
                                <a class="nav-link active" href="/my_orders">Orders</a>
                                <a class="nav-link" href="/adresses">My Address</a>
                                <a class="nav-link" href="/wallet">Wallet</a>
                                <a class="nav-link" href="/logout">Log out</a>
                            </nav>
                        </aside>
                        <div class="col-lg-9">
        <section class="content-body p-xl-4">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                </div>
               
            </div>
             <div class="card mb-4">
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="container">
  <div class="row">
    {{#each myOrders}}
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Order_{{this.orderId}}</h5>
            <p class="card-text text-center"><strong>Payment Method:</strong> {{this.paymentMethod}}</p>
            {{#if this.amountAfterDscnt}}
            <p class="card-text text-center"><strong>Total:</strong> ₹{{this.amountAfterDscnt}}</p>
            {{else}}
            <p class="card-text text-center"><strong>Total:</strong> ₹{{this.total}}</p>
            {{/if}}
            <p class="card-text text-center"><strong>Status:</strong> <span class="badge rounded-pill alert-warning">{{this.status}}</span></p>
            <p class="card-text text-center"><strong>Date:</strong> {{this.date}}</p>
            <div class="text-center">
              <a href="/order_details?id={{this._id}}" class="btn btn-md rounded font-sm">Detail</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="pagination-area mt-15 mb-50">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start">
      {{#each pages}}
      <li class="page-item {{#ifCond this ../currentPage '=='}}active{{/ifCond}}">
        <a class="page-link" href="?page={{this}}">{{this}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</div>
 <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->


        </section> <!-- content-main end// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card body end// -->
                
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>



 
    <script src="/assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsAdmin/js/vendors/select2.min.js"></script>
    <script src="/assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsAdmin/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>