<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand" id="count">{{proCount}}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a onclick="limits(1)">1</a></li>
                                        <li><a onclick="limits(3)">3</a></li>
                                        <li><a onclick="limits(6)">6</a></li>
                                        <li><a onclick="limits(9)">9</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="pro_container">
                        <div class="row product-grid-3" id="productList">
                            {{#each proData}}
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productview?id={{this._id}}">
                                                <img class="default-img" src="/images/products/{{this.imageUrl.[0]}}"
                                                    alt="">
                                                <img class="hover-img" src="/images/products/{{this.imageUrl.[1]}}"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{this.category.category}}</a>
                                        </div>
                                        <h2><a href="/productview?id={{this._id}}">{{this.name}}</a>
                                            <input type="hidden" id="name{{this._id}}" value="{{this.name}}">
                                            <input type="hidden" id="id" value="{{this._id}}">
                                        </h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{this.price}}</span>
                                            <span class="old-price">₹245.8</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            {{#if this.isWishlisted}}
                                            <span id="click{{this._id}}">
                                                <a onclick="removeFromWishlist('{{this._id}}')" id="icon-1"
                                                    aria-label="Remove From Wishlist" class="wish action-btn hover-up"
                                                    href="#"><i class="fa-solid fa-heart"></i></a>
                                            </span>
                                            {{else}}
                                            <span id="click{{this._id}}">
                                                <a onclick="addToWishlist('{{this._id}}')" id="icon-2"
                                                    aria-label="Add To Wishlist" class="wish action-btn hover-up"
                                                    href="#"><i class="fi-rs-heart"></i></a>
                                            </span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start" id="paginationList">
                                {{#each pages}}
                                <li class="page-item {{#ifEquals this ../currentPage}}active{{/ifEquals}}">
                                    <a class="page-link" href="javascript:{{../currentFunction}}('{{../catId}}', {{this}}, '{{../currentSort}}');">{{this}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                              {{#each loadCatData}}
                            <li>
                                {{!-- <input type="text" hidden value="{{this._id}}" id='cat_id{{this._id}}'> --}}
                                <a onclick="filterByCategory('{{this._id}}')">{{this.category}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort</h5>
                        <ul>
                            <li><a onclick="sortLowToHigh()">Price: Low to High</a></li>
                            <li><a onclick="sortHighToLow()">Price: High to Low</a></li>
                            <li><a onclick="sortAZ()">A - Z</a></li>
                            <li><a onclick="sortZA()">Z - A</a></li>
                            <br>
                              <a onclick="clearfilter()" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Clear Filter</a>
                        </ul>

                  
                    </div>
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">New arrivals</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        {{#each newProduct}}
                        <div class="single-post clearfix" id="newProduct">
                            <div class="image">
                                <img src="/images/products/{{imageUrl.[0]}}" alt="{{name}}">
                            </div>
                            <div class="content pt-10">
                                <h5><a href="/productview?id={{this._id}}">{{name}}</a></h5>
                                <p class="price mb-0 mt-5">₹{{price}}</p>
                                <div class="product-rate">
                                    <div class="product-rating" style="width:90%"></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                        <img src="https://i.pinimg.com/originals/67/0c/f0/670cf04d08becb87bd248ed5ad6008e9.jpg" alt="">
                        <div class="banner-text">
                            <span>Cake Zone</span>
                            <h4 style = "color: rgb(255, 255, 255);">Save 17% on <br>Special Cakes</h4>
                            <a href="/product">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let currentPage = 1;
    let currentSort = '';
    let currentCategory = '';
    let searchQuery = '';
    let limit = 9;

    const fetchProducts = () => {
        $.ajax({
            url: '/search',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                searchQuery,
                sortOption: currentSort,
                categoryFilter: currentCategory,
                page: currentPage,
                limit,
            }),
            success: (data) => {
                console.log(data)


                updateProductList(data.products);
                updatePagination(data.totalProducts);
                updateProductCount(data.totalProducts);
            },
            error: (error) => {
                console.error('Error fetching products:', error);
            },
        });
    };

    const updateProductList = (products) => {
        const productList = $('#productList');
        productList.empty();

        if (products.length === 0) {
            productList.html('<h2 class="m-5">No product available</h2>');
            return;
        }

        //count.innerHTML=products.length
        //  totall-product.html('<h2 class="m-5">No product available</h2>');


        products.forEach((product) => {
            const productHtml = `<div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="/productview?id=${product._id}">
                                <img class="default-img" src="/images/products/${product.imageUrl[0]}" alt="">
                                <img class="hover-img" src="/images/products/${product.imageUrl[1]}" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn hover-up" href="/productview?id=${product._id}">
                                <i class="fi-rs-search"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            ${product.category.category}
                        </div>
                        <h2><a href="/productview?id=${product._id}">${product.name}</a>
                        <input type="hidden" id="name${product._id}" value="${product.name}">
                        <input type="hidden" id="id" value="${product._id}">
                        </h2>
                        <div class="product-price">
                            <span>₹${product.price}</span>
                        </div>
                        <div class="product-action-1 show">
                            <span id="click${product._id}">
                            <a onclick="addToWishlist('${product._id}')" id="icon-2" aria-label="Add To Wishlist"
                                class="wish action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>`;
            productList.append(productHtml);
        });
    };
    // count.innerHTML=totalProducts


    const updatePagination = (totalProducts) => {
        const paginationList = $('#paginationList');
        paginationList.empty();
        const totalPages = Math.ceil(totalProducts / limit);

        for (let i = 1; i <= totalPages; i++) {
            const activeClass = i === currentPage ? 'active' : '';
            const pageItem = `<li class="page-item ${activeClass}">
            <a class="page-link" href="javascript:goToPage(${i});">${i}</a>
        </li>`;
            paginationList.append(pageItem);
        }
    };
    const updateProductCount = (totalProducts) => {
        $('#count').text(totalProducts);
    };
    const goToPage = (page) => {
        currentPage = page;
        fetchProducts();
    };

    const searchProducts = () => {
        searchQuery = $('#searchInput').val();
        currentPage = 1;
        fetchProducts();
    };

    const sortLowToHigh = () => {
        currentSort = 'priceAsc';
        currentPage = 1;
        fetchProducts();
    };

    const sortHighToLow = () => {
        currentSort = 'priceDesc';
        currentPage = 1;
        fetchProducts();
    };

    const sortAZ = () => {
        currentSort = 'nameAsc';
        currentPage = 1;
        fetchProducts();
    };

    const sortZA = () => {
        currentSort = 'nameDesc';
        currentPage = 1;
        fetchProducts();
    };

    const filterByCategory = (categoryId) => {
        currentCategory = categoryId;
        currentPage = 1;
        fetchProducts();
    };
    const limits = (ct) => {
        limit = ct;
        currentPage = 1;

        fetchProducts();
    }
    const clearfilter = () => {
        currentPage = 1;
        currentSort = '';
        currentCategory = '';
        searchQuery = '';
        limit = 6;
        fetchProducts()
    }


    // $('#searchButton').on('change', searchProducts);

    fetchProducts();
</script>

<script>
    
/// Add to wishlist ////////////


const addToWishlist = async (id) => {

    const proName = document.getElementById('name' + id).value
    document.getElementById('click' + id).innerHTML =
        `<a aria-label="Add To Wishlist"
    class="wish action-btn hover-up" href="#"><i class="fa-solid fa-heart"></i></a>`

    let response = await fetch(`/add_to_wishlist?id=${id}`, {
        headers: {
            "Content-Type": "application/json"
        },
    })

    let data = await response.json()
    if (data) {
        alertify.set('notifier', 'position', 'bottom-center');
        alertify.success(`${proName} Added to wishlist`)
        //.then(()=> window.location.reload())
    }
}


/// remove from wishlist  ////////////


const removeFromWishlist = async (id) => {
    const proName = document.getElementById('name' + id).value

    document.getElementById('click' + id).innerHTML =
        `<a aria-label="Add To Wishlist" class="wish action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>`

    let response = await fetch(`/remove_from_wishlist?id=${id}`, {
        headers: {
            "Content-Type": "application/json"
        },
    })

    let data = await response.json()
    if (data) {
        alertify.set('notifier', 'position', 'bottom-center');
        alertify.success(`${proName} Removed from wishlist`)
    }
}



</script>



