       
 
  <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsAdmin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsAdmin/css/main.css" rel="stylesheet" type="text/css" />

    
    <main class="main">
        
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> <a href="/profile" rel="nofollow">Profile</a>
                    <span></span> Wallet
                </div>
            </div>
        </div>
               <div  >
                     <section class="content-main col-md-11">
            <div class="content-header">
                <h2 class="content-title p-3">Profile setting </h2>
            </div>
            <div class="card" >
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link " aria-current="page" href="/profile">General</a>
                                <a class="nav-link " href="/my_orders">Orders</a>
                                <a class="nav-link" href="/adresses">My Address</a>
                                <a class="nav-link active" href="/wallet">Wallet</a>
                                <a class="nav-link" href="/logout" id="logout-link">Log out</a>
                            </nav>
                        </aside>
                         <div class="col-md-9">

                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Wallet </h5>
                                        </div>
                                        <div class="card-body text-center d-flex">
                                            {{!-- <img src="/images/users/{{userData.image.[0]}}"
                                                class="card-img-top rounded-circle mx-auto mt-3" alt="Profile Image"
                                                style="width: 100px; height: 100px; object-fit: cover;"> --}}
                                            <div class="card-body text-center">

                                                <p class="card-text"><strong>Balance</strong></p>
                                                <h5 class="card-title" style="font-size: 1.5rem;">
                                                    <br> ₹ {{userData.wallet}}
                                                </h5>


                                            </div>
                                            <div class="card-body text-center">
                                                <a onclick="addMoney()" class="btn btn-primary"> <i
                                                        class="fi-rs-box-alt mr-10"></i> Add
                                                    Money</a>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="card mt-5">
                                        <div class="card-header">
                                            <h5 class="mb-0">History</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-borderless">
                                                <table class="table ">

                                                    <thead>
                                                        <tr>

                                                            <th>Date</th>
                                                            <th>Time</th>
                                                            <th class="text-center">Status</th>
                                                            
                                                            <th>Amount</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each history}}
                                                        <tr>
                                                            <td>{{formatDate this.date}}</td>
                                                      <td>{{formatTime this.date}}</td> 
                                    <td class="text-center">
                                        {{#ifeq this.status 'credit'}}
                                        <span class="badge bg-success">CREDITED</span>
                                        {{/ifeq}}
                                        {{#ifeq this.status 'refund'}}
                                        <span class="badge bg-primary">REFUNDED</span>
                                        {{/ifeq}}
                                        {{#ifeq this.status 'Refunded'}}
                                        <span class="badge bg-primary">REFUNDED</span>
                                        {{/ifeq}}
                                        {{#ifeq this.status 'Debited'}}
                                        <span class="badge bg-danger">DEBITED</span>
                                        {{/ifeq}}
                                    </td>
                                    
                    
                                                            <td>₹ {{this.amount}}</td>
                                                            {{!-- <td><a href="/orderDetails/{{this._id}}"
                                                                    class="btn-small d-block">View</a></td> --}}
                                                        </tr>
                                                        {{/each}}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pagination-area mt-15 mb-50">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-start">
                                                    {{#each pages}}
                                                    <li class="page-item {{#ifeq this ../page}}active{{/ifeq}}"><a class="page-link"
                                                            href="?page={{this}}">{{this}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </nav>
                                        </div>
                                        </div>
                                        
                                    </div>
                                   
                                </div>

                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
               </div>
    </main>

        <script src="/assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsAdmin/js/vendors/select2.min.js"></script>
    <script src="/assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsAdmin/js/main.js" type="text/javascript"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    async function addMoney() {

        const { value: amount } = await Swal.fire({
            title: 'Enter the Amount',
            input: 'number',
            inputLabel: 'Amount',
            inputPlaceholder: '₹'
        })
        $.ajax({
            url: "/addmoneytowallet",
            method: "post",
            data: {
                total: amount
            },
            success: (data) => {
                if (data.razorpay) {
                    var options = {
                        "key": "{{KEY_ID}}",
                        "amount": data.order.amount,
                        "currency": "INR",
                        "name": "Cake Kart",
                        "description": "Test Transaction",
                        "image": "https://pngimg.com/uploads/cake/cake_PNG13101.png",
                        "order_id": data.order.id,
                        "handler": function (response) {
                            verifyPayment(response, data);
                        },
                        "prefill": {
                            "name": "Customer Name",
                            "email": "customer@example.com",
                            "contact": "9000090000"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    }
                    console.log("Option ======>>>>>>> ", options);
                    var rzp1 = new Razorpay(options);
                    rzp1.open();

                    // Handle errors
                    rzp1.on('payment.failed', function (response) {
                        console.error('Payment failed:', response.error.code, response.error.description);
                        // Handle payment failure here
                    });
                }
            }
        })

    }

    function verifyPayment(response, order) {

        $.ajax({
            url: '/verify_Payment',
            method: 'post',
            data: {
                order,
                response,
                from: "wallet"
            }, success: (response) => {
                if (response) {
                    Swal.fire({
                        title: "Success",
                        text: "Payment has been succeed",
                        icon: "success",

                    }).then(function () {
                        location.reload()
                    });
                } else {
                    Swal.fire("PAYMENT ERROR!", "Something wrong occured while processing the payment.", "error");
                    location.reload()
                }

            }
        })
    }




</script>
