<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> <a href="/shop">Shop</a>
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">

                                {{#if wishItem}}
                                
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col" >Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each wishItem}}
                                <tr id="row{{this._id}}">
                                    <td class="image product-thumbnail" id="pro_cont{{this._id}}"><a
                                            href="/productview?id={{this._id}}"><img
                                                src="/images/products/{{this.imageUrl.[0]}}" alt="#"></a></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a
                                                 href="/productview?id={{this._id}}">{{this.name}}</a></h5>
                                                 <input name="product_name" value="{{this.name}}" type="hidden">
                                                 <input type="hidden" id="name{{this._id}}" value="{{this.name}}">
                                        {{!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy
                                            magndapibus.
                                        </p> --}}
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{this.price}} </span></td>
                                    <td class="text-right" data-title="Cart">
                                        {{#if this.stock}}
                                        {{#if this.productExistInCart}}
                                        <button onclick="window.location.href='/cart?id={{this.ID}}'" class="btn btn-sm"><i class=class="fi-rs-heart"></i>Go to cart</button>
                                        {{else}}
                                        <span id="cart_btn{{this._id}}">
                                        <button onclick="addToCartBtn('{{this._id}}')" id="add_to_cart_btn" class="btn btn-sm">
                                            <i class="fi-rs-shopping-bag mr-5"></i>
                                            Add to cart
                                        </button>
                                        </span>
                                        {{/if}}
									    {{else}}
                                                                                <button onclick="outofStock()" disabled id="add_to_cart_btn" class="btn btn-sm">
                                            <i class="fi-rs-shopping-bag mr-5"></i>
                                            Out of Stock
                                        </button>
                                        {{/if}}
                                    </td>
                                    <td class="rem action" >
                                        <button onclick="removeFromWishlist('{{this._id}}')" class="btn btn-sm">
                                            <i class="fi-rs-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                
                                {{/each}}
                                </tbody>
                                {{else}}

                                <div class="text-center">
                                    <h1 class="mt-5">Your wishlist is empty..!</h1>

                                    <a href="/product" class="btn btn-primary mt-4">Go to products</a>
                                </div>
                                {{/if}}

                                {{!-- <tr>
                                    <td class="image"><img src="assets/imgs/shop/product-3-1.jpg" alt="#"></td>
                                    <td class="product-des">
                                        <h5 class="product-name"><a href="shop-product-right.html">Amazon Brand - Daily
                                                Ritual Women's Jersey </a></h5>
                                        <p class="font-xs">Erat amet et et amet diam et et.<br> Justo amet at dolore
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>₹62.00 </span></td>
                                    <td class="text-center" data-title="Stock">
                                        <span class="text-danger font-weight-bold">Out of stock</span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm btn-secondary"><i
                                                class="fi-rs-headset mr-5"></i>Contact Us</button>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="#"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr> --}}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

	<script>
 

const addToCartBtn = async (proId) => {

const productid = document.getElementById('add_to_cart_btn').value
const productName = document.getElementsByName('product_name')[0].value

console.log(productName)
 
const response = await fetch(`/add_to_cart?id=${proId}`, {
method: 'GET',
headers: {
'Content-Type': "application/json",
},
})

let data = await response.json()
console.log(data, 'from add to cart btn....')

document.getElementById(`cart_btn${proId}`).innerHTML = 
`<button onclick="window.location.href='/cart?id={{userData._id}}'" class="btn btn-sm"><i class=class="fi-rs-heart"></i>Go to cart</button>`


if(data){
  swal("Awww 🥳!", `${productName} added to Cart! `, "success");
}

}



const outofStock = () => {
	alertify.set('notifier', 'position', 'bottom-center');
	alertify.success(`Item Out of stock`)
}

const removeFromWishlist = async (id) => {
    const proName = document.getElementById('name' + id).value


    let response = await fetch(`/remove_from_wishlist?id=${id}`, {
        headers: {
            "Content-Type": "application/json"
        },
    })
    

    let data = await response.json()
    console.log(data)
    if (data) {
        alertify.set('notifier', 'position', 'bottom-center');
        alertify.success(`${proName} Removed from wishlist`)
    }
    document.getElementById(`row${id}`).innerHTML = ''	
    location.reload()   
		
}





</script>
